# .htaccesss

# redirect errors
ErrorDocument 400 /index.html
ErrorDocument 401 /index.html
ErrorDocument 403 /index.html
ErrorDocument 404 /index.html
ErrorDocument 405 /index.html
ErrorDocument 408 /index.html
ErrorDocument 414 /index.html
ErrorDocument 500 /index.html
ErrorDocument 502 /index.html
ErrorDocument 504 /index.html

DirectoryIndex index.html card.php

# hush those php errors
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off

#RewriteEngine ON
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)/([^/]+)\.([^/]+) test.php?dir=$1&hideifoffline=$1&fav1=$2&fav2=$3&fav3=$4&fav4=$5&fav5=$6&fav6=$7&bg=$8&id=$9 [NC]